In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from config import g_key

In [2]:
# Read .csv file created from Pwer Plant Data Developing Countries data
PowerPlantData = pd.read_csv("OutputData/Power_Plant_Data_Developed.csv")

In [3]:
# Display Power Plant data frame
PowerPlantData.head()

,Country Code,Country Name,Power Plant Name,Power Plant Capacity(MWh),Latitude,Longitude,Primary Fuel,GNI,Population,Country Status
0,AUS,Australia,Adelaide Showgrounds,1.0,-34.9453,138.5882,Solar,53690.0,25687041.0,Developed
1,AUS,Australia,Albany Wind Farm,21.6,-35.0641,117.7977,Wind,53690.0,25687041.0,Developed
2,AUS,Australia,Amcor Gawler,4.0,-34.5509,138.7659,Oil,53690.0,25687041.0,Developed
3,AUS,Australia,Angaston,50.0,-34.5034,139.0246,Oil,53690.0,25687041.0,Developed
4,AUS,Australia,Anglesea,165.0,-38.3861,144.1828,Coal,53690.0,25687041.0,Developed

In [4]:
# Display datatypes
PowerPlantData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22757 entries, 0 to 22756
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country Code               22757 non-null  object
 1   Country Name               22757 non-null  object
 2   Power Plant Name           22757 non-null  object
 3   Power Plant Capacity(MWh)  22757 non-null  float64
 4   Latitude                   22757 non-null  float64
 5   Longitude                  22757 non-null  float64
 6   Primary Fuel               22757 non-null  object
 7   GNI                        22757 non-null  float64
 8   Population                 22757 non-null  float64
 9   Country Status             22757 non-null  object
dtypes: float64(5), object(5)
memory usage: 1.7+ MB

In [5]:
# Reduce data frame to columns Country Name, "Latitude", "Longitude", "Primary Fuel"
PowerPlantData_Reduced = PowerPlantData[["Country Name", "Latitude", "Longitude", "Primary Fuel"]]

# Display data frame
print(len(PowerPlantData_Reduced))
PowerPlantData_Reduced.head()

22757

  Country Name  Latitude  Longitude Primary Fuel
0    Australia  -34.9453   138.5882        Solar
1    Australia  -35.0641   117.7977         Wind
2    Australia  -34.5509   138.7659          Oil
3    Australia  -34.5034   139.0246          Oil
4    Australia  -38.3861   144.1828         Coal

In [9]:
# Create gmaps with API key
gmaps.configure(g_key)

# Extract 'Hydro' and 'Solar' Primary Fuel Source 
PowerPlantData_Hydro = PowerPlantData_Reduced[PowerPlantData_Reduced["Primary Fuel"] == "Hydro"]
PowerPlantData_Solar = PowerPlantData[PowerPlantData["Primary Fuel"] == "Solar"]

# Store 'Latitude' and 'Longitude' into  locations for Hydro
locations = PowerPlantData_Hydro[["Latitude", "Longitude"]].astype(float)

# Store 'Latitude' and 'Longitude' into  locations for Solar
locations_Solar = PowerPlantData_Solar[["Latitude", "Longitude"]].astype(float)

# Create Hydro layer
Hydro_Layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 140, 255, 1)',
    stroke_color='rgba(0, 140, 255, 1)', scale=1
)

# Create Solar layer
Solar_Layer = gmaps.symbol_layer(
    locations_Solar, fill_color='rgba(0, 255, 205, 0.1)',
    stroke_color='rgba(0, 255, 205, 0.1)', scale=1
)

# Create a map
fig = gmaps.figure(map_type="SATELLITE",
    center=[17.133932434766733, 16.103938729508073],
    zoom_level=1.6
)

# Add Hydro and Solar layer to map
fig.add_layer(Hydro_Layer)
fig.add_layer(Solar_Layer)

# Display map with layers
fig

Figure(layout=FigureLayout(height='420px'))