In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from config import g_key

In [3]:
# Read .csv file created from Merged Power plant data
PowerPlantData = pd.read_csv("OutputData/Merged_Power_Plant_Data.csv")
PowerPlantData_CountryStatus = pd.read_csv("OutputData/Power_Plant_Data_Country_Status.csv")

In [4]:
# Display Power Plant data frame
PowerPlantData.head()

,Unnamed: 0,Country Code,Country Name,Power Plant Name,Power Plant Capacity(MWh),Latitude,Longitude,Primary Fuel,GNI,Population
0,0,AFG,Afghanistan,Kajaki Hydroelectric Power Plant Afghanistan,33.0,32.322,65.1190,Hydro,500.0,38928341.0
1,1,AFG,Afghanistan,Kandahar DOG,10.0,31.670,65.7950,Solar,500.0,38928341.0
2,2,AFG,Afghanistan,Kandahar JOL,10.0,31.623,65.7920,Solar,500.0,38928341.0
3,3,AFG,Afghanistan,Mahipar Hydroelectric Power Plant Afghanistan,66.0,34.556,69.4787,Hydro,500.0,38928341.0
4,4,AFG,Afghanistan,Naghlu Dam Hydroelectric Power Plant Afghanistan,100.0,34.641,69.7170,Hydro,500.0,38928341.0

In [6]:
# Display datatypes
PowerPlantData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34936 entries, 0 to 34935
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  34936 non-null  int64
 1   Country Code                34936 non-null  object
 2   Country Name                34936 non-null  object
 3   Power Plant Name            34936 non-null  object
 4    Power Plant Capacity(MWh)  34936 non-null  float64
 5   Latitude                    34936 non-null  float64
 6   Longitude                   34936 non-null  float64
 7   Primary Fuel                34936 non-null  object
 8   GNI                         34755 non-null  float64
 9   Population                  34886 non-null  float64
dtypes: float64(5), int64(1), object(4)
memory usage: 2.7+ MB

In [5]:
# Display Power Plant Country Status data frame
PowerPlantData_CountryStatus.head()

,Unnamed: 0,Country Code,Country Name,Power Plant Name,Power Plant Capacity(MWh),Latitude,Longitude,Primary Fuel,GNI,Population,Country Status
0,0,AFG,Afghanistan,Kajaki Hydroelectric Power Plant Afghanistan,33.0,32.322,65.1190,Hydro,500.0,38928341.0,Developing
1,1,AFG,Afghanistan,Kandahar DOG,10.0,31.670,65.7950,Solar,500.0,38928341.0,Developing
2,2,AFG,Afghanistan,Kandahar JOL,10.0,31.623,65.7920,Solar,500.0,38928341.0,Developing
3,3,AFG,Afghanistan,Mahipar Hydroelectric Power Plant Afghanistan,66.0,34.556,69.4787,Hydro,500.0,38928341.0,Developing
4,4,AFG,Afghanistan,Naghlu Dam Hydroelectric Power Plant Afghanistan,100.0,34.641,69.7170,Hydro,500.0,38928341.0,Developing

In [39]:
# Create gmaps with API key
gmaps.configure(g_key)

# Handle NaN values
#weather_df = weather_df.dropna()

# Convert Power Plant Capacity(MWh) to float and store
PowerPlantCapacity = PowerPlantData["Power Plant Capacity(MWh)"].astype(float)

# Store 'Latitude' and 'Longitude' into  locations 
locations = PowerPlantData[["Latitude", "Longitude"]].astype(float)

# Create a Power Plant Capacity(MWh) Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=max(PowerPlantData["Power Plant Capacity(MWh)"]),
                                 point_radius = 2)

fig.add_layer(heat_layer)

# Display map
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# Narrow down the DataFrame to find your ideal weather condition.
filtered_weather_df = weather_df

# Drop any rows that don't contain all three conditions. Want to be sure the weather is ideal.

# A max temperature lower than 35 degrees but higher than 20.
filtered_weather_df = filtered_weather_df.loc[(filtered_weather_df["Temperature(C)"] < 35) & (filtered_weather_df["Temperature(C)"] > 20)]

# Wind speed less than 5 kph.
filtered_weather_df = filtered_weather_df.loc[filtered_weather_df["Wind Speed (kph)"] < 5]

# Zero cloudiness.
filtered_weather_df = filtered_weather_df.loc[filtered_weather_df["Cloudiness(%)"] == 0]

# Drop any rows with null values
filtered_weather_df = filtered_weather_df.dropna()

filtered_weather_df

,Unnamed: 0,City,Temperature(C),Humidity(%),Cloudiness(%),Wind Speed (kph),Latitude,Longitude,Country
13,13,houma,22.15,87.0,0.0,3.60,29.5958,-90.7195,US
87,96,nioro,25.90,32.0,0.0,1.41,13.3500,-15.7500,GM
92,101,devaprayag,34.65,11.0,0.0,2.32,30.1500,78.6167,IN
93,102,cabo san lucas,20.84,71.0,0.0,0.89,22.8909,-109.9124,MX
98,108,pokhara,32.08,22.0,0.0,3.90,28.2333,83.9833,NP
121,132,doha,29.57,46.0,0.0,4.63,25.2867,51.5333,QA
124,135,vila velha,24.41,90.0,0.0,3.09,-20.3297,-40.2925,BR
230,250,atar,21.25,34.0,0.0,3.46,20.5169,-13.0499,MR
257,283,neyshabur,20.96,37.0,0.0,1.69,36.2133,58.7958,IR
259,285,saint-pierre,27.71,48.0,0.0,4.63,-21.3393,55.4781,RE
311,344,seoul,24.11,45.0,0.0,4.63,37.5683,126.9778,KR
388,423,aswan,26.61,9.0,0.0,1.54,24.0934,32.9070,EG
399,436,natal,23.12,100.0,0.0,1.54,-5.7950,-35.2094,BR
404,441,inhambane,25.71,70.0,0.0,0.46,-23.8650,35.3833,MZ
413,451,coahuayana,20.27,81.0,0.0,1.27,18.7333,-103.6833,MX
454,496,cayenne,25.05,1.0,0.0,0.00,4.9333,-52.3333,GF
459,502,shiloh,21.64,69.0,0.0,4.63,38.5614,-89.8973,US
484,529,vega de alatorre,24.23,81.0,0.0,4.05,20.0333,-96.6333,MX
485,530,rusape,21.09,67.0,0.0,0.45,-18.5278,32.1284,ZW
491,536,chontalpa,23.03,77.0,0.0,0.96,17.7000,-93.5167,MX
512,557,newcastle,20.29,68.0,0.0,3.60,-32.9272,151.7765,AU
518,563,komatipoort,25.37,62.0,0.0,2.78,-25.4332,31.9548,ZA
521,567,esna,25.01,15.0,0.0,3.72,25.2934,32.5540,EG

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [41]:
hotel_df = filtered_weather_df

# Create params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

# Loop through data
for index, row in hotel_df.iterrows():
    # Get latitude and longitude from data frame
    lat = row["Latitude"]
    lng = row["Longitude"]

    # Change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Create base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Assemble url and make API request
    print(f"Retrieving Results for Index {index}: {row['City']}.")
    response = requests.get(base_url, params=params).json()
    
    # Extract results
    results = response['results']
    
    try:
        print(f"Closest hotel is {results[0]['name']}.")
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 13: houma.
Closest hotel is Courtyard by Marriott Houma.
------------
Retrieving Results for Index 87: nioro.
Missing field/result... skipping.
------------
Retrieving Results for Index 92: devaprayag.
Closest hotel is Hotel UMA.
------------
Retrieving Results for Index 93: cabo san lucas.
Closest hotel is Hotel Tesoro Los Cabos.
------------
Retrieving Results for Index 98: pokhara.
Closest hotel is OYO 170 Hotel View Point.
------------
Retrieving Results for Index 121: doha.
Closest hotel is Movenpick Hotel Doha.
------------
Retrieving Results for Index 124: vila velha.
Closest hotel is Hotel Vitória Palace.
------------
Retrieving Results for Index 230: atar.
Closest hotel is Oumou Elghoura.
------------
Retrieving Results for Index 257: neyshabur.
Closest hotel is Amiran Hotel & Commercial Complex.
------------
Retrieving Results for Index 259: saint-pierre.
Closest hotel is Lindsey Hôtel.
------------
Retrieving Results for Index 311: seoul.
Closest hotel is 롯데호텔 서울.
------------
Retrieving Results for Index 388: aswan.
Closest hotel is Nuba Nile.
------------
Retrieving Results for Index 399: natal.
Closest hotel is Villa Park Hotel | Natal.
------------
Retrieving Results for Index 404: inhambane.
Closest hotel is Oceano.
------------
Retrieving Results for Index 413: coahuayana.
Closest hotel is El rranchito michuacan de ocampos.
------------
Retrieving Results for Index 454: cayenne.
Closest hotel is Hôtel Le Dronmi.
------------
Retrieving Results for Index 459: shiloh.
Closest hotel is Hilton Garden Inn St. Louis Shiloh/O'Fallon IL.
------------
Retrieving Results for Index 484: vega de alatorre.
Closest hotel is Hotel D Luxe.
------------
Retrieving Results for Index 485: rusape.
Closest hotel is Surrey Lodge.
------------
Retrieving Results for Index 491: chontalpa.
Missing field/result... skipping.
------------
Retrieving Results for Index 512: newcastle.
Closest hotel is NOAH'S on the beach.
------------
Retrieving Results for Index 518: komatipoort.
Closest hotel is Kruger View Backpackers.
------------
Retrieving Results for Index 521: esna.
Closest hotel is Orient Star Dahabyia Isna 05 Nights Each Sunday.
------------

In [45]:
# Display data frame
hotel_df

,Unnamed: 0,City,Temperature(C),Humidity(%),Cloudiness(%),Wind Speed (kph),Latitude,Longitude,Country,Hotel Name
13,13,houma,22.15,87.0,0.0,3.60,29.5958,-90.7195,US,Courtyard by Marriott Houma
92,101,devaprayag,34.65,11.0,0.0,2.32,30.1500,78.6167,IN,Hotel UMA
93,102,cabo san lucas,20.84,71.0,0.0,0.89,22.8909,-109.9124,MX,Hotel Tesoro Los Cabos
98,108,pokhara,32.08,22.0,0.0,3.90,28.2333,83.9833,NP,OYO 170 Hotel View Point
121,132,doha,29.57,46.0,0.0,4.63,25.2867,51.5333,QA,Movenpick Hotel Doha
124,135,vila velha,24.41,90.0,0.0,3.09,-20.3297,-40.2925,BR,Hotel Vitória Palace
230,250,atar,21.25,34.0,0.0,3.46,20.5169,-13.0499,MR,Oumou Elghoura
257,283,neyshabur,20.96,37.0,0.0,1.69,36.2133,58.7958,IR,Amiran Hotel & Commercial Complex
259,285,saint-pierre,27.71,48.0,0.0,4.63,-21.3393,55.4781,RE,Lindsey Hôtel
311,344,seoul,24.11,45.0,0.0,4.63,37.5683,126.9778,KR,롯데호텔 서울
388,423,aswan,26.61,9.0,0.0,1.54,24.0934,32.9070,EG,Nuba Nile
399,436,natal,23.12,100.0,0.0,1.54,-5.7950,-35.2094,BR,Villa Park Hotel | Natal
404,441,inhambane,25.71,70.0,0.0,0.46,-23.8650,35.3833,MZ,Oceano
413,451,coahuayana,20.27,81.0,0.0,1.27,18.7333,-103.6833,MX,El rranchito michuacan de ocampos
454,496,cayenne,25.05,1.0,0.0,0.00,4.9333,-52.3333,GF,Hôtel Le Dronmi
459,502,shiloh,21.64,69.0,0.0,4.63,38.5614,-89.8973,US,Hilton Garden Inn St. Louis Shiloh/O'Fallon IL
484,529,vega de alatorre,24.23,81.0,0.0,4.05,20.0333,-96.6333,MX,Hotel D Luxe
485,530,rusape,21.09,67.0,0.0,0.45,-18.5278,32.1284,ZW,Surrey Lodge
512,557,newcastle,20.29,68.0,0.0,3.60,-32.9272,151.7765,AU,NOAH'S on the beach
518,563,komatipoort,25.37,62.0,0.0,2.78,-25.4332,31.9548,ZA,Kruger View Backpackers
521,567,esna,25.01,15.0,0.0,3.72,25.2934,32.5540,EG,Orient Star Dahabyia Isna 05 Nights Each Sunday

In [49]:
# Assign the marker layer to a variable
locations = hotel_df[["Latitude", "Longitude"]]
markers = gmaps.marker_layer(locations)

# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""


# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

# Create hotel symbol layer
hotel_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=2,
    info_box_content=hotel_info
)
# Add the layer to the map
fig.add_layer(markers)
fig.add_layer(hotel_layer)
fig

Figure(layout=FigureLayout(height='420px'))